team1-adf-poc3/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "team1-adf-poc3"
		},
		"team1adfpoc3ls_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'team1adfpoc3ls'"
		},
		"GIOS_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://api.gios.gov.pl/pjp-api/rest/station/sensors/"
		},
		"GIOS_rest_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://api.gios.gov.pl/pjp-api/rest/station/sensors/"
		},
		"GIOS_rest_pollutions_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://api.gios.gov.pl/pjp-api/rest/aqindex/getIndex/"
		},
		"team1adfpoc3ls_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://team1poc3dls.dfs.core.windows.net/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/get_GIOS_data')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LoopThroughIDs",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.relativeURL",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "station_id1",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "__var_id",
										"value": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								},
								{
									"name": "get_gios_copy1",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "station_id1",
											"dependencyConditions": [
												"Completed"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "RestSource",
											"httpRequestTimeout": "00:01:40",
											"requestInterval": "00.00:00:00.010",
											"requestMethod": "GET",
											"paginationRules": {
												"supportRFC5988": "true"
											}
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "try_as_rest",
											"type": "DatasetReference",
											"parameters": {
												"relativeURL": "@item()"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "GIOS_to_ADLS_json",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"relativeURL": {
						"type": "array",
						"defaultValue": [
							"114",
							"117"
						]
					}
				},
				"variables": {
					"__var_ids_list": {
						"type": "Array",
						"defaultValue": [
							"114",
							"117"
						]
					},
					"__var_id": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2024-03-01T12:56:36Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/try_as_rest')]",
				"[concat(variables('factoryId'), '/datasets/GIOS_to_ADLS_json')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/get_GIOS_pollution')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LoopThroughIDs",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@variables('__var_ids_list')",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "station_id1",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "__var_id",
										"value": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								},
								{
									"name": "get_gios_copy1",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "station_id1",
											"dependencyConditions": [
												"Completed"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "RestSource",
											"httpRequestTimeout": "00:01:40",
											"requestInterval": "00.00:00:00.010",
											"requestMethod": "GET",
											"paginationRules": {
												"supportRFC5988": "true"
											}
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "GIOS_to_ADLS_polutions",
											"type": "DatasetReference",
											"parameters": {
												"relativeURL": "@item()"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "GIOS_to_ADLS_json_pollutions",
											"type": "DatasetReference",
											"parameters": {
												"extention": ".json"
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"relativeURL": {
						"type": "array",
						"defaultValue": [
							"114",
							"117",
							"129",
							"52",
							"109",
							"11",
							"16",
							"38",
							"70",
							"74",
							"9153",
							"11254",
							"11934",
							"12055",
							"12056",
							"17780",
							"156",
							"158",
							"16237",
							"16613",
							"295",
							"296",
							"314",
							"355",
							"10058",
							"291",
							"319",
							"322",
							"331",
							"562",
							"9913",
							"11358",
							"16271",
							"17160",
							"590",
							"10374",
							"568",
							"584",
							"600",
							"8976",
							"10018",
							"16181",
							"16413",
							"671",
							"10125",
							"17159",
							"17179",
							"631",
							"638",
							"646",
							"659",
							"665",
							"678",
							"684",
							"870",
							"882",
							"10005",
							"10030",
							"17741",
							"944",
							"16493",
							"952",
							"902",
							"920",
							"946",
							"950",
							"9218",
							"10834",
							"16495",
							"17438",
							"986",
							"987",
							"989",
							"16270",
							"805",
							"809",
							"813",
							"814",
							"837",
							"841",
							"17880",
							"834",
							"10554",
							"11855",
							"789",
							"10158",
							"798",
							"800",
							"842",
							"845",
							"853",
							"856",
							"9000",
							"11278",
							"11455",
							"11457",
							"11794",
							"16406",
							"11195",
							"16196",
							"16497",
							"769",
							"778",
							"785",
							"10794",
							"11754",
							"12138",
							"17758",
							"877",
							"861",
							"11554",
							"11616",
							"400",
							"401",
							"402",
							"10123",
							"10139",
							"10447",
							"11303",
							"444",
							"10120",
							"426",
							"9173",
							"9175",
							"10414",
							"10438",
							"12057",
							"609",
							"11174",
							"11814",
							"17658",
							"612",
							"618",
							"9994",
							"11154",
							"11916",
							"731",
							"732",
							"736",
							"16242",
							"725",
							"740",
							"741",
							"742",
							"743",
							"750",
							"437",
							"443",
							"449",
							"455",
							"459",
							"9179",
							"10119",
							"10124",
							"10446",
							"10814",
							"11301",
							"11434",
							"16753",
							"16894",
							"17118",
							"17138",
							"530",
							"538",
							"550",
							"552",
							"10955",
							"10956",
							"16533",
							"497",
							"501",
							"515",
							"460",
							"466",
							"471",
							"485",
							"488",
							"517",
							"9798",
							"12038",
							"266",
							"236",
							"248",
							"275",
							"282",
							"285",
							"10874",
							"11360",
							"12100",
							"361",
							"387",
							"11294",
							"374",
							"376",
							"379",
							"382",
							"11576",
							"145",
							"206",
							"208",
							"225",
							"9791",
							"142",
							"143",
							"164",
							"190",
							"232",
							"966",
							"11336",
							"961",
							"983",
							"10934",
							"17158"
						]
					}
				},
				"variables": {
					"__var_ids_list": {
						"type": "Array",
						"defaultValue": [
							"114",
							"117",
							"129",
							"52",
							"109",
							"11",
							"16",
							"38",
							"70",
							"74",
							"9153",
							"11254",
							"11934",
							"12055",
							"12056",
							"17780",
							"156",
							"158",
							"16237",
							"16613",
							"295",
							"296",
							"314",
							"355",
							"10058",
							"291",
							"319",
							"322",
							"331",
							"562",
							"9913",
							"11358",
							"16271",
							"17160",
							"590",
							"10374",
							"568",
							"584",
							"600",
							"8976",
							"10018",
							"16181",
							"16413",
							"671",
							"10125",
							"17159",
							"17179",
							"631",
							"638",
							"646",
							"659",
							"665",
							"678",
							"684",
							"870",
							"882",
							"10005",
							"10030",
							"17741",
							"944",
							"16493",
							"952",
							"902",
							"920",
							"946",
							"950",
							"9218",
							"10834",
							"16495",
							"17438",
							"986",
							"987",
							"989",
							"16270",
							"805",
							"809",
							"813",
							"814",
							"837",
							"841",
							"17880",
							"834",
							"10554",
							"11855",
							"789",
							"10158",
							"798",
							"800",
							"842",
							"845",
							"853",
							"856",
							"9000",
							"11278",
							"11455",
							"11457",
							"11794",
							"16406",
							"11195",
							"16196",
							"16497",
							"769",
							"778",
							"785",
							"10794",
							"11754",
							"12138",
							"17758",
							"877",
							"861",
							"11554",
							"11616",
							"400",
							"401",
							"402",
							"10123",
							"10139",
							"10447",
							"11303",
							"444",
							"10120",
							"426",
							"9173",
							"9175",
							"10414",
							"10438",
							"12057",
							"609",
							"11174",
							"11814",
							"17658",
							"612",
							"618",
							"9994",
							"11154",
							"11916",
							"731",
							"732",
							"736",
							"16242",
							"725",
							"740",
							"741",
							"742",
							"743",
							"750",
							"437",
							"443",
							"449",
							"455",
							"459",
							"9179",
							"10119",
							"10124",
							"10446",
							"10814",
							"11301",
							"11434",
							"16753",
							"16894",
							"17118",
							"17138",
							"530",
							"538",
							"550",
							"552",
							"10955",
							"10956",
							"16533",
							"497",
							"501",
							"515",
							"460",
							"466",
							"471",
							"485",
							"488",
							"517",
							"9798",
							"12038",
							"266",
							"236",
							"248",
							"275",
							"282",
							"285",
							"10874",
							"11360",
							"12100",
							"361",
							"387",
							"11294",
							"374",
							"376",
							"379",
							"382",
							"11576",
							"145",
							"206",
							"208",
							"225",
							"9791",
							"142",
							"143",
							"164",
							"190",
							"232",
							"966",
							"11336",
							"961",
							"983",
							"10934",
							"17158"
						]
					},
					"__var_id": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2024-03-04T08:26:18Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/GIOS_to_ADLS_polutions')]",
				"[concat(variables('factoryId'), '/datasets/GIOS_to_ADLS_json_pollutions')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/get_GIOS_stations')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LoopThroughIDs",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@variables('__var_ids_list')",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "station_id1",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "__var_id",
										"value": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								},
								{
									"name": "get_gios_copy1",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "station_id1",
											"dependencyConditions": [
												"Completed"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "RestSource",
											"httpRequestTimeout": "00:01:40",
											"requestInterval": "00.00:00:00.010",
											"requestMethod": "GET",
											"paginationRules": {
												"supportRFC5988": "true"
											}
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "try_as_rest",
											"type": "DatasetReference",
											"parameters": {
												"relativeURL": "@item()"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "GIOS_to_ADLS_json_upd",
											"type": "DatasetReference",
											"parameters": {
												"extention": ".json"
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"relativeURL": {
						"type": "array",
						"defaultValue": [
							"114",
							"117",
							"129",
							"52",
							"109",
							"11",
							"16",
							"38",
							"70",
							"74",
							"9153",
							"11254",
							"11934",
							"12055",
							"12056",
							"17780",
							"156",
							"158",
							"16237",
							"16613",
							"295",
							"296",
							"314",
							"355",
							"10058",
							"291",
							"319",
							"322",
							"331",
							"562",
							"9913",
							"11358",
							"16271",
							"17160",
							"590",
							"10374",
							"568",
							"584",
							"600",
							"8976",
							"10018",
							"16181",
							"16413",
							"671",
							"10125",
							"17159",
							"17179",
							"631",
							"638",
							"646",
							"659",
							"665",
							"678",
							"684",
							"870",
							"882",
							"10005",
							"10030",
							"17741",
							"944",
							"16493",
							"952",
							"902",
							"920",
							"946",
							"950",
							"9218",
							"10834",
							"16495",
							"17438",
							"986",
							"987",
							"989",
							"16270",
							"805",
							"809",
							"813",
							"814",
							"837",
							"841",
							"17880",
							"834",
							"10554",
							"11855",
							"789",
							"10158",
							"798",
							"800",
							"842",
							"845",
							"853",
							"856",
							"9000",
							"11278",
							"11455",
							"11457",
							"11794",
							"16406",
							"11195",
							"16196",
							"16497",
							"769",
							"778",
							"785",
							"10794",
							"11754",
							"12138",
							"17758",
							"877",
							"861",
							"11554",
							"11616",
							"400",
							"401",
							"402",
							"10123",
							"10139",
							"10447",
							"11303",
							"444",
							"10120",
							"426",
							"9173",
							"9175",
							"10414",
							"10438",
							"12057",
							"609",
							"11174",
							"11814",
							"17658",
							"612",
							"618",
							"9994",
							"11154",
							"11916",
							"731",
							"732",
							"736",
							"16242",
							"725",
							"740",
							"741",
							"742",
							"743",
							"750",
							"437",
							"443",
							"449",
							"455",
							"459",
							"9179",
							"10119",
							"10124",
							"10446",
							"10814",
							"11301",
							"11434",
							"16753",
							"16894",
							"17118",
							"17138",
							"530",
							"538",
							"550",
							"552",
							"10955",
							"10956",
							"16533",
							"497",
							"501",
							"515",
							"460",
							"466",
							"471",
							"485",
							"488",
							"517",
							"9798",
							"12038",
							"266",
							"236",
							"248",
							"275",
							"282",
							"285",
							"10874",
							"11360",
							"12100",
							"361",
							"387",
							"11294",
							"374",
							"376",
							"379",
							"382",
							"11576",
							"145",
							"206",
							"208",
							"225",
							"9791",
							"142",
							"143",
							"164",
							"190",
							"232",
							"966",
							"11336",
							"961",
							"983",
							"10934",
							"17158"
						]
					}
				},
				"variables": {
					"__var_ids_list": {
						"type": "Array",
						"defaultValue": [
							"114",
							"117",
							"129",
							"52",
							"109",
							"11",
							"16",
							"38",
							"70",
							"74",
							"9153",
							"11254",
							"11934",
							"12055",
							"12056",
							"17780",
							"156",
							"158",
							"16237",
							"16613",
							"295",
							"296",
							"314",
							"355",
							"10058",
							"291",
							"319",
							"322",
							"331",
							"562",
							"9913",
							"11358",
							"16271",
							"17160",
							"590",
							"10374",
							"568",
							"584",
							"600",
							"8976",
							"10018",
							"16181",
							"16413",
							"671",
							"10125",
							"17159",
							"17179",
							"631",
							"638",
							"646",
							"659",
							"665",
							"678",
							"684",
							"870",
							"882",
							"10005",
							"10030",
							"17741",
							"944",
							"16493",
							"952",
							"902",
							"920",
							"946",
							"950",
							"9218",
							"10834",
							"16495",
							"17438",
							"986",
							"987",
							"989",
							"16270",
							"805",
							"809",
							"813",
							"814",
							"837",
							"841",
							"17880",
							"834",
							"10554",
							"11855",
							"789",
							"10158",
							"798",
							"800",
							"842",
							"845",
							"853",
							"856",
							"9000",
							"11278",
							"11455",
							"11457",
							"11794",
							"16406",
							"11195",
							"16196",
							"16497",
							"769",
							"778",
							"785",
							"10794",
							"11754",
							"12138",
							"17758",
							"877",
							"861",
							"11554",
							"11616",
							"400",
							"401",
							"402",
							"10123",
							"10139",
							"10447",
							"11303",
							"444",
							"10120",
							"426",
							"9173",
							"9175",
							"10414",
							"10438",
							"12057",
							"609",
							"11174",
							"11814",
							"17658",
							"612",
							"618",
							"9994",
							"11154",
							"11916",
							"731",
							"732",
							"736",
							"16242",
							"725",
							"740",
							"741",
							"742",
							"743",
							"750",
							"437",
							"443",
							"449",
							"455",
							"459",
							"9179",
							"10119",
							"10124",
							"10446",
							"10814",
							"11301",
							"11434",
							"16753",
							"16894",
							"17118",
							"17138",
							"530",
							"538",
							"550",
							"552",
							"10955",
							"10956",
							"16533",
							"497",
							"501",
							"515",
							"460",
							"466",
							"471",
							"485",
							"488",
							"517",
							"9798",
							"12038",
							"266",
							"236",
							"248",
							"275",
							"282",
							"285",
							"10874",
							"11360",
							"12100",
							"361",
							"387",
							"11294",
							"374",
							"376",
							"379",
							"382",
							"11576",
							"145",
							"206",
							"208",
							"225",
							"9791",
							"142",
							"143",
							"164",
							"190",
							"232",
							"966",
							"11336",
							"961",
							"983",
							"10934",
							"17158"
						]
					},
					"__var_id": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2024-03-04T08:27:35Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/try_as_rest')]",
				"[concat(variables('factoryId'), '/datasets/GIOS_to_ADLS_json_upd')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/old')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "get_gios",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".json"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "GIOS",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "GIOS_to_ADLS",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2024-03-04T10:11:55Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/GIOS')]",
				"[concat(variables('factoryId'), '/datasets/GIOS_to_ADLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/GIOS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "GIOS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": false,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/GIOS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/GIOS_to_ADLS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "team1adfpoc3ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "raw",
						"fileSystem": "poc3"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/team1adfpoc3ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/GIOS_to_ADLS_json')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "team1adfpoc3ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "raw/stations",
						"fileSystem": "poc3"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/team1adfpoc3ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/GIOS_to_ADLS_json_pollutions')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "team1adfpoc3ls",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"extention": {
						"type": "String",
						"defaultValue": ".json"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat(item(),dataset().extention)",
							"type": "Expression"
						},
						"folderPath": "raw/pollutions",
						"fileSystem": "poc3"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/team1adfpoc3ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/GIOS_to_ADLS_json_pollutions_copy1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "team1adfpoc3ls",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"extention": {
						"type": "String",
						"defaultValue": ".json"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat(item(),dataset().extention)",
							"type": "Expression"
						},
						"folderPath": "test_raw/pollutions",
						"fileSystem": "poc3"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/team1adfpoc3ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/GIOS_to_ADLS_json_upd')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "team1adfpoc3ls",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"extention": {
						"type": "String",
						"defaultValue": ".json"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat(item(),dataset().extention)",
							"type": "Expression"
						},
						"folderPath": "raw/stations",
						"fileSystem": "poc3"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/team1adfpoc3ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/GIOS_to_ADLS_json_upd_copy1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "team1adfpoc3ls",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"extention": {
						"type": "String",
						"defaultValue": ".json"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat(item(),dataset().extention)",
							"type": "Expression"
						},
						"folderPath": "test_raw/stations",
						"fileSystem": "poc3"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/team1adfpoc3ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/GIOS_to_ADLS_polutions')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "GIOS_rest_pollutions",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"relativeURL": {
						"type": "string",
						"defaultValue": [
							"114",
							"117",
							"129",
							"52",
							"109",
							"11",
							"16",
							"38",
							"70",
							"74",
							"9153",
							"11254",
							"11934",
							"12055",
							"12056",
							"17780",
							"156",
							"158",
							"16237",
							"16613",
							"295",
							"296",
							"314",
							"355",
							"10058",
							"291",
							"319",
							"322",
							"331",
							"562",
							"9913",
							"11358",
							"16271",
							"17160",
							"590",
							"10374",
							"568",
							"584",
							"600",
							"8976",
							"10018",
							"16181",
							"16413",
							"671",
							"10125",
							"17159",
							"17179",
							"631",
							"638",
							"646",
							"659",
							"665",
							"678",
							"684",
							"870",
							"882",
							"10005",
							"10030",
							"17741",
							"944",
							"16493",
							"952",
							"902",
							"920",
							"946",
							"950",
							"9218",
							"10834",
							"16495",
							"17438",
							"986",
							"987",
							"989",
							"16270",
							"805",
							"809",
							"813",
							"814",
							"837",
							"841",
							"17880",
							"834",
							"10554",
							"11855",
							"789",
							"10158",
							"798",
							"800",
							"842",
							"845",
							"853",
							"856",
							"9000",
							"11278",
							"11455",
							"11457",
							"11794",
							"16406",
							"11195",
							"16196",
							"16497",
							"769",
							"778",
							"785",
							"10794",
							"11754",
							"12138",
							"17758",
							"877",
							"861",
							"11554",
							"11616",
							"400",
							"401",
							"402",
							"10123",
							"10139",
							"10447",
							"11303",
							"444",
							"10120",
							"426",
							"9173",
							"9175",
							"10414",
							"10438",
							"12057",
							"609",
							"11174",
							"11814",
							"17658",
							"612",
							"618",
							"9994",
							"11154",
							"11916",
							"731",
							"732",
							"736",
							"16242",
							"725",
							"740",
							"741",
							"742",
							"743",
							"750",
							"437",
							"443",
							"449",
							"455",
							"459",
							"9179",
							"10119",
							"10124",
							"10446",
							"10814",
							"11301",
							"11434",
							"16753",
							"16894",
							"17118",
							"17138",
							"530",
							"538",
							"550",
							"552",
							"10955",
							"10956",
							"16533",
							"497",
							"501",
							"515",
							"460",
							"466",
							"471",
							"485",
							"488",
							"517",
							"9798",
							"12038",
							"266",
							"236",
							"248",
							"275",
							"282",
							"285",
							"10874",
							"11360",
							"12100",
							"361",
							"387",
							"11294",
							"374",
							"376",
							"379",
							"382",
							"11576",
							"145",
							"206",
							"208",
							"225",
							"9791",
							"142",
							"143",
							"164",
							"190",
							"232",
							"966",
							"11336",
							"961",
							"983",
							"10934",
							"17158"
						]
					}
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": {
						"value": "@dataset().relativeURL",
						"type": "Expression"
					}
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/GIOS_rest_pollutions')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/try_as_rest')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "GIOS_rest",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"relativeURL": {
						"type": "string",
						"defaultValue": [
							"114",
							"117",
							"129",
							"52",
							"109",
							"11",
							"16",
							"38",
							"70",
							"74",
							"9153",
							"11254",
							"11934",
							"12055",
							"12056",
							"17780",
							"156",
							"158",
							"16237",
							"16613",
							"295",
							"296",
							"314",
							"355",
							"10058",
							"291",
							"319",
							"322",
							"331",
							"562",
							"9913",
							"11358",
							"16271",
							"17160",
							"590",
							"10374",
							"568",
							"584",
							"600",
							"8976",
							"10018",
							"16181",
							"16413",
							"671",
							"10125",
							"17159",
							"17179",
							"631",
							"638",
							"646",
							"659",
							"665",
							"678",
							"684",
							"870",
							"882",
							"10005",
							"10030",
							"17741",
							"944",
							"16493",
							"952",
							"902",
							"920",
							"946",
							"950",
							"9218",
							"10834",
							"16495",
							"17438",
							"986",
							"987",
							"989",
							"16270",
							"805",
							"809",
							"813",
							"814",
							"837",
							"841",
							"17880",
							"834",
							"10554",
							"11855",
							"789",
							"10158",
							"798",
							"800",
							"842",
							"845",
							"853",
							"856",
							"9000",
							"11278",
							"11455",
							"11457",
							"11794",
							"16406",
							"11195",
							"16196",
							"16497",
							"769",
							"778",
							"785",
							"10794",
							"11754",
							"12138",
							"17758",
							"877",
							"861",
							"11554",
							"11616",
							"400",
							"401",
							"402",
							"10123",
							"10139",
							"10447",
							"11303",
							"444",
							"10120",
							"426",
							"9173",
							"9175",
							"10414",
							"10438",
							"12057",
							"609",
							"11174",
							"11814",
							"17658",
							"612",
							"618",
							"9994",
							"11154",
							"11916",
							"731",
							"732",
							"736",
							"16242",
							"725",
							"740",
							"741",
							"742",
							"743",
							"750",
							"437",
							"443",
							"449",
							"455",
							"459",
							"9179",
							"10119",
							"10124",
							"10446",
							"10814",
							"11301",
							"11434",
							"16753",
							"16894",
							"17118",
							"17138",
							"530",
							"538",
							"550",
							"552",
							"10955",
							"10956",
							"16533",
							"497",
							"501",
							"515",
							"460",
							"466",
							"471",
							"485",
							"488",
							"517",
							"9798",
							"12038",
							"266",
							"236",
							"248",
							"275",
							"282",
							"285",
							"10874",
							"11360",
							"12100",
							"361",
							"387",
							"11294",
							"374",
							"376",
							"379",
							"382",
							"11576",
							"145",
							"206",
							"208",
							"225",
							"9791",
							"142",
							"143",
							"164",
							"190",
							"232",
							"966",
							"11336",
							"961",
							"983",
							"10934",
							"17158"
						]
					}
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": {
						"value": "@dataset().relativeURL",
						"type": "Expression"
					}
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/GIOS_rest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/try_as_rest_copy1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "GIOS_rest",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"relativeURL": {
						"type": "string",
						"defaultValue": [
							"114",
							"117",
							"129",
							"52",
							"109",
							"11",
							"16",
							"38",
							"70",
							"74",
							"9153",
							"11254",
							"11934",
							"12055",
							"12056",
							"17780",
							"156",
							"158",
							"16237",
							"16613",
							"295",
							"296",
							"314",
							"355",
							"10058",
							"291",
							"319",
							"322",
							"331",
							"562",
							"9913",
							"11358",
							"16271",
							"17160",
							"590",
							"10374",
							"568",
							"584",
							"600",
							"8976",
							"10018",
							"16181",
							"16413",
							"671",
							"10125",
							"17159",
							"17179",
							"631",
							"638",
							"646",
							"659",
							"665",
							"678",
							"684",
							"870",
							"882",
							"10005",
							"10030",
							"17741",
							"944",
							"16493",
							"952",
							"902",
							"920",
							"946",
							"950",
							"9218",
							"10834",
							"16495",
							"17438",
							"986",
							"987",
							"989",
							"16270",
							"805",
							"809",
							"813",
							"814",
							"837",
							"841",
							"17880",
							"834",
							"10554",
							"11855",
							"789",
							"10158",
							"798",
							"800",
							"842",
							"845",
							"853",
							"856",
							"9000",
							"11278",
							"11455",
							"11457",
							"11794",
							"16406",
							"11195",
							"16196",
							"16497",
							"769",
							"778",
							"785",
							"10794",
							"11754",
							"12138",
							"17758",
							"877",
							"861",
							"11554",
							"11616",
							"400",
							"401",
							"402",
							"10123",
							"10139",
							"10447",
							"11303",
							"444",
							"10120",
							"426",
							"9173",
							"9175",
							"10414",
							"10438",
							"12057",
							"609",
							"11174",
							"11814",
							"17658",
							"612",
							"618",
							"9994",
							"11154",
							"11916",
							"731",
							"732",
							"736",
							"16242",
							"725",
							"740",
							"741",
							"742",
							"743",
							"750",
							"437",
							"443",
							"449",
							"455",
							"459",
							"9179",
							"10119",
							"10124",
							"10446",
							"10814",
							"11301",
							"11434",
							"16753",
							"16894",
							"17118",
							"17138",
							"530",
							"538",
							"550",
							"552",
							"10955",
							"10956",
							"16533",
							"497",
							"501",
							"515",
							"460",
							"466",
							"471",
							"485",
							"488",
							"517",
							"9798",
							"12038",
							"266",
							"236",
							"248",
							"275",
							"282",
							"285",
							"10874",
							"11360",
							"12100",
							"361",
							"387",
							"11294",
							"374",
							"376",
							"379",
							"382",
							"11576",
							"145",
							"206",
							"208",
							"225",
							"9791",
							"142",
							"143",
							"164",
							"190",
							"232",
							"966",
							"11336",
							"961",
							"983",
							"10934",
							"17158"
						]
					}
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/GIOS_rest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/GIOS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('GIOS_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/GIOS_rest')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('GIOS_rest_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/GIOS_rest_pollutions')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('GIOS_rest_pollutions_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/team1adfpoc3ls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "connection to storage",
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('team1adfpoc3ls_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('team1adfpoc3ls_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/superbatch_production_dl')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "try_as_rest_copy1",
								"type": "DatasetReference"
							},
							"name": "pullStations",
							"description": "import stations data"
						},
						{
							"dataset": {
								"referenceName": "GIOS_to_ADLS_polutions",
								"type": "DatasetReference"
							},
							"name": "pullPollutions",
							"description": "import pollutions data"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "GIOS_to_ADLS_json_upd_copy1",
								"type": "DatasetReference"
							},
							"name": "writeRawStationsToAdls"
						},
						{
							"dataset": {
								"referenceName": "GIOS_to_ADLS_json_pollutions_copy1",
								"type": "DatasetReference"
							},
							"name": "writeRawPollutionsToAdls"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     httpMethod: 'GET',",
						"     timeout: 30,",
						"     requestInterval: 0,",
						"     paginationRules: ['supportRFC5988' -> 'true'],",
						"     responseFormat: ['type' -> 'json', 'documentForm' -> 'documentPerLine']) ~> pullStations",
						"source(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     httpMethod: 'GET',",
						"     timeout: 30,",
						"     requestInterval: 0,",
						"     paginationRules: ['supportRFC5988' -> 'true'],",
						"     responseFormat: ['type' -> 'json', 'documentForm' -> 'documentPerLine']) ~> pullPollutions",
						"pullStations sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> writeRawStationsToAdls",
						"pullPollutions sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> writeRawPollutionsToAdls"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/try_as_rest_copy1')]",
				"[concat(variables('factoryId'), '/datasets/GIOS_to_ADLS_polutions')]",
				"[concat(variables('factoryId'), '/datasets/GIOS_to_ADLS_json_upd_copy1')]",
				"[concat(variables('factoryId'), '/datasets/GIOS_to_ADLS_json_pollutions_copy1')]"
			]
		}
	]
}