pipeline/get_GIOS_data.json
{
	"name": "get_GIOS_data",
	"properties": {
		"activities": [
			{
				"name": "LoopThroughIDs",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.relativeURL",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "station_id1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "__var_id",
								"value": {
									"value": "@item()",
									"type": "Expression"
								}
							}
						},
						{
							"name": "get_gios_copy1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "station_id1",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "try_as_rest",
									"type": "DatasetReference",
									"parameters": {
										"relativeURL": "@item()"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "GIOS_to_ADLS_json",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"relativeURL": {
				"type": "array",
				"defaultValue": [
					"114",
					"117"
				]
			}
		},
		"variables": {
			"__var_ids_list": {
				"type": "Array",
				"defaultValue": [
					"114",
					"117"
				]
			},
			"__var_id": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-03-01T12:56:36Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}