pipeline/get_GIOS_pollution.json
{
	"name": "get_GIOS_pollution",
	"properties": {
		"activities": [
			{
				"name": "LoopThroughIDs",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('__var_ids_list')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "station_id1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "__var_id",
								"value": {
									"value": "@item()",
									"type": "Expression"
								}
							}
						},
						{
							"name": "get_gios_copy1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "station_id1",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "GIOS_to_ADLS_polutions",
									"type": "DatasetReference",
									"parameters": {
										"relativeURL": "@item()"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "GIOS_to_ADLS_json_pollutions",
									"type": "DatasetReference",
									"parameters": {
										"extention": ".json"
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"relativeURL": {
				"type": "array",
				"defaultValue": [
					"114",
					"117",
					"129",
					"52",
					"109",
					"11",
					"16",
					"38",
					"70",
					"74",
					"9153",
					"11254",
					"11934",
					"12055",
					"12056",
					"17780",
					"156",
					"158",
					"16237",
					"16613",
					"295",
					"296",
					"314",
					"355",
					"10058",
					"291",
					"319",
					"322",
					"331",
					"562",
					"9913",
					"11358",
					"16271",
					"17160",
					"590",
					"10374",
					"568",
					"584",
					"600",
					"8976",
					"10018",
					"16181",
					"16413",
					"671",
					"10125",
					"17159",
					"17179",
					"631",
					"638",
					"646",
					"659",
					"665",
					"678",
					"684",
					"870",
					"882",
					"10005",
					"10030",
					"17741",
					"944",
					"16493",
					"952",
					"902",
					"920",
					"946",
					"950",
					"9218",
					"10834",
					"16495",
					"17438",
					"986",
					"987",
					"989",
					"16270",
					"805",
					"809",
					"813",
					"814",
					"837",
					"841",
					"17880",
					"834",
					"10554",
					"11855",
					"789",
					"10158",
					"798",
					"800",
					"842",
					"845",
					"853",
					"856",
					"9000",
					"11278",
					"11455",
					"11457",
					"11794",
					"16406",
					"11195",
					"16196",
					"16497",
					"769",
					"778",
					"785",
					"10794",
					"11754",
					"12138",
					"17758",
					"877",
					"861",
					"11554",
					"11616",
					"400",
					"401",
					"402",
					"10123",
					"10139",
					"10447",
					"11303",
					"444",
					"10120",
					"426",
					"9173",
					"9175",
					"10414",
					"10438",
					"12057",
					"609",
					"11174",
					"11814",
					"17658",
					"612",
					"618",
					"9994",
					"11154",
					"11916",
					"731",
					"732",
					"736",
					"16242",
					"725",
					"740",
					"741",
					"742",
					"743",
					"750",
					"437",
					"443",
					"449",
					"455",
					"459",
					"9179",
					"10119",
					"10124",
					"10446",
					"10814",
					"11301",
					"11434",
					"16753",
					"16894",
					"17118",
					"17138",
					"530",
					"538",
					"550",
					"552",
					"10955",
					"10956",
					"16533",
					"497",
					"501",
					"515",
					"460",
					"466",
					"471",
					"485",
					"488",
					"517",
					"9798",
					"12038",
					"266",
					"236",
					"248",
					"275",
					"282",
					"285",
					"10874",
					"11360",
					"12100",
					"361",
					"387",
					"11294",
					"374",
					"376",
					"379",
					"382",
					"11576",
					"145",
					"206",
					"208",
					"225",
					"9791",
					"142",
					"143",
					"164",
					"190",
					"232",
					"966",
					"11336",
					"961",
					"983",
					"10934",
					"17158"
				]
			}
		},
		"variables": {
			"__var_ids_list": {
				"type": "Array",
				"defaultValue": [
					"114",
					"117",
					"129",
					"52",
					"109",
					"11",
					"16",
					"38",
					"70",
					"74",
					"9153",
					"11254",
					"11934",
					"12055",
					"12056",
					"17780",
					"156",
					"158",
					"16237",
					"16613",
					"295",
					"296",
					"314",
					"355",
					"10058",
					"291",
					"319",
					"322",
					"331",
					"562",
					"9913",
					"11358",
					"16271",
					"17160",
					"590",
					"10374",
					"568",
					"584",
					"600",
					"8976",
					"10018",
					"16181",
					"16413",
					"671",
					"10125",
					"17159",
					"17179",
					"631",
					"638",
					"646",
					"659",
					"665",
					"678",
					"684",
					"870",
					"882",
					"10005",
					"10030",
					"17741",
					"944",
					"16493",
					"952",
					"902",
					"920",
					"946",
					"950",
					"9218",
					"10834",
					"16495",
					"17438",
					"986",
					"987",
					"989",
					"16270",
					"805",
					"809",
					"813",
					"814",
					"837",
					"841",
					"17880",
					"834",
					"10554",
					"11855",
					"789",
					"10158",
					"798",
					"800",
					"842",
					"845",
					"853",
					"856",
					"9000",
					"11278",
					"11455",
					"11457",
					"11794",
					"16406",
					"11195",
					"16196",
					"16497",
					"769",
					"778",
					"785",
					"10794",
					"11754",
					"12138",
					"17758",
					"877",
					"861",
					"11554",
					"11616",
					"400",
					"401",
					"402",
					"10123",
					"10139",
					"10447",
					"11303",
					"444",
					"10120",
					"426",
					"9173",
					"9175",
					"10414",
					"10438",
					"12057",
					"609",
					"11174",
					"11814",
					"17658",
					"612",
					"618",
					"9994",
					"11154",
					"11916",
					"731",
					"732",
					"736",
					"16242",
					"725",
					"740",
					"741",
					"742",
					"743",
					"750",
					"437",
					"443",
					"449",
					"455",
					"459",
					"9179",
					"10119",
					"10124",
					"10446",
					"10814",
					"11301",
					"11434",
					"16753",
					"16894",
					"17118",
					"17138",
					"530",
					"538",
					"550",
					"552",
					"10955",
					"10956",
					"16533",
					"497",
					"501",
					"515",
					"460",
					"466",
					"471",
					"485",
					"488",
					"517",
					"9798",
					"12038",
					"266",
					"236",
					"248",
					"275",
					"282",
					"285",
					"10874",
					"11360",
					"12100",
					"361",
					"387",
					"11294",
					"374",
					"376",
					"379",
					"382",
					"11576",
					"145",
					"206",
					"208",
					"225",
					"9791",
					"142",
					"143",
					"164",
					"190",
					"232",
					"966",
					"11336",
					"961",
					"983",
					"10934",
					"17158"
				]
			},
			"__var_id": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-03-04T08:26:18Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}