team1-adf-poc3/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "team1-adf-poc3"
		},
		"team3_managed_priv_endp_v2_properties_privateLinkResourceId": {
			"type": "string",
			"defaultValue": "/subscriptions/9bf5731e-1469-47d3-8c28-e5fc3ded3c90/resourceGroups/cf-int-az-sbx-upskilling/providers/Microsoft.Storage/storageAccounts/team1poc3dls"
		},
		"team3_managed_priv_endp_v2_properties_groupId": {
			"type": "string",
			"defaultValue": "dfs"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/GIOS_to_ADLS_json_upd_copy1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "team1adfpoc3ls",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"extention": {
						"type": "String",
						"defaultValue": ".json"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat(item(),dataset().extention)",
							"type": "Expression"
						},
						"folderPath": "test_raw/stations",
						"fileSystem": "poc3"
					}
				},
				"schema": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/GIOS_to_ADLS_polutions')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "GIOS_rest_pollutions",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"relativeURL": {
						"type": "string",
						"defaultValue": [
							"114",
							"117",
							"129",
							"52",
							"109",
							"11",
							"16",
							"38",
							"70",
							"74",
							"9153",
							"11254",
							"11934",
							"12055",
							"12056",
							"17780",
							"156",
							"158",
							"16237",
							"16613",
							"295",
							"296",
							"314",
							"355",
							"10058",
							"291",
							"319",
							"322",
							"331",
							"562",
							"9913",
							"11358",
							"16271",
							"17160",
							"590",
							"10374",
							"568",
							"584",
							"600",
							"8976",
							"10018",
							"16181",
							"16413",
							"671",
							"10125",
							"17159",
							"17179",
							"631",
							"638",
							"646",
							"659",
							"665",
							"678",
							"684",
							"870",
							"882",
							"10005",
							"10030",
							"17741",
							"944",
							"16493",
							"952",
							"902",
							"920",
							"946",
							"950",
							"9218",
							"10834",
							"16495",
							"17438",
							"986",
							"987",
							"989",
							"16270",
							"805",
							"809",
							"813",
							"814",
							"837",
							"841",
							"17880",
							"834",
							"10554",
							"11855",
							"789",
							"10158",
							"798",
							"800",
							"842",
							"845",
							"853",
							"856",
							"9000",
							"11278",
							"11455",
							"11457",
							"11794",
							"16406",
							"11195",
							"16196",
							"16497",
							"769",
							"778",
							"785",
							"10794",
							"11754",
							"12138",
							"17758",
							"877",
							"861",
							"11554",
							"11616",
							"400",
							"401",
							"402",
							"10123",
							"10139",
							"10447",
							"11303",
							"444",
							"10120",
							"426",
							"9173",
							"9175",
							"10414",
							"10438",
							"12057",
							"609",
							"11174",
							"11814",
							"17658",
							"612",
							"618",
							"9994",
							"11154",
							"11916",
							"731",
							"732",
							"736",
							"16242",
							"725",
							"740",
							"741",
							"742",
							"743",
							"750",
							"437",
							"443",
							"449",
							"455",
							"459",
							"9179",
							"10119",
							"10124",
							"10446",
							"10814",
							"11301",
							"11434",
							"16753",
							"16894",
							"17118",
							"17138",
							"530",
							"538",
							"550",
							"552",
							"10955",
							"10956",
							"16533",
							"497",
							"501",
							"515",
							"460",
							"466",
							"471",
							"485",
							"488",
							"517",
							"9798",
							"12038",
							"266",
							"236",
							"248",
							"275",
							"282",
							"285",
							"10874",
							"11360",
							"12100",
							"361",
							"387",
							"11294",
							"374",
							"376",
							"379",
							"382",
							"11576",
							"145",
							"206",
							"208",
							"225",
							"9791",
							"142",
							"143",
							"164",
							"190",
							"232",
							"966",
							"11336",
							"961",
							"983",
							"10934",
							"17158"
						]
					}
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": {
						"value": "@dataset().relativeURL",
						"type": "Expression"
					}
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/IMGW_to_ADLS_cities_v2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "team1adfpoc3ls_v2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "cities.csv",
						"folderPath": "raw/gov",
						"fileSystem": "poc3"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Nazwa miejscowości",
						"type": "String"
					},
					{
						"name": "Rodzaj",
						"type": "String"
					},
					{
						"name": "Gmina",
						"type": "String"
					},
					{
						"name": "Powiat",
						"type": "String"
					},
					{
						"name": "Województwo",
						"type": "String"
					},
					{
						"name": "Identyfikator miejscowości z krajowego rejestru urzędowego podziału terytorialnego kraju TERYT",
						"type": "String"
					},
					{
						"name": "Dopełniacz",
						"type": "String"
					},
					{
						"name": "Przymiotnik",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PROD_GIOS_all')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "GIOS_all",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PROD_GIOS_polutions')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "GIOS_rest_pollutions",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"relativeURL": {
						"type": "string",
						"defaultValue": [
							"114",
							"117",
							"129",
							"52",
							"109",
							"11",
							"16",
							"38",
							"70",
							"74",
							"9153",
							"11254",
							"11934",
							"12055",
							"12056",
							"17780",
							"156",
							"158",
							"16237",
							"16613",
							"295",
							"296",
							"314",
							"355",
							"10058",
							"291",
							"319",
							"322",
							"331",
							"562",
							"9913",
							"11358",
							"16271",
							"17160",
							"590",
							"10374",
							"568",
							"584",
							"600",
							"8976",
							"10018",
							"16181",
							"16413",
							"671",
							"10125",
							"17159",
							"17179",
							"631",
							"638",
							"646",
							"659",
							"665",
							"678",
							"684",
							"870",
							"882",
							"10005",
							"10030",
							"17741",
							"944",
							"16493",
							"952",
							"902",
							"920",
							"946",
							"950",
							"9218",
							"10834",
							"16495",
							"17438",
							"986",
							"987",
							"989",
							"16270",
							"805",
							"809",
							"813",
							"814",
							"837",
							"841",
							"17880",
							"834",
							"10554",
							"11855",
							"789",
							"10158",
							"798",
							"800",
							"842",
							"845",
							"853",
							"856",
							"9000",
							"11278",
							"11455",
							"11457",
							"11794",
							"16406",
							"11195",
							"16196",
							"16497",
							"769",
							"778",
							"785",
							"10794",
							"11754",
							"12138",
							"17758",
							"877",
							"861",
							"11554",
							"11616",
							"400",
							"401",
							"402",
							"10123",
							"10139",
							"10447",
							"11303",
							"444",
							"10120",
							"426",
							"9173",
							"9175",
							"10414",
							"10438",
							"12057",
							"609",
							"11174",
							"11814",
							"17658",
							"612",
							"618",
							"9994",
							"11154",
							"11916",
							"731",
							"732",
							"736",
							"16242",
							"725",
							"740",
							"741",
							"742",
							"743",
							"750",
							"437",
							"443",
							"449",
							"455",
							"459",
							"9179",
							"10119",
							"10124",
							"10446",
							"10814",
							"11301",
							"11434",
							"16753",
							"16894",
							"17118",
							"17138",
							"530",
							"538",
							"550",
							"552",
							"10955",
							"10956",
							"16533",
							"497",
							"501",
							"515",
							"460",
							"466",
							"471",
							"485",
							"488",
							"517",
							"9798",
							"12038",
							"266",
							"236",
							"248",
							"275",
							"282",
							"285",
							"10874",
							"11360",
							"12100",
							"361",
							"387",
							"11294",
							"374",
							"376",
							"379",
							"382",
							"11576",
							"145",
							"206",
							"208",
							"225",
							"9791",
							"142",
							"143",
							"164",
							"190",
							"232",
							"966",
							"11336",
							"961",
							"983",
							"10934",
							"17158"
						]
					}
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": {
						"value": "@dataset().relativeURL",
						"type": "Expression"
					}
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PROD_GIOS_stations')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "GIOS_rest",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"relativeURL": {
						"type": "string",
						"defaultValue": [
							"114",
							"117",
							"129",
							"52",
							"109",
							"11",
							"16",
							"38",
							"70",
							"74",
							"9153",
							"11254",
							"11934",
							"12055",
							"12056",
							"17780",
							"156",
							"158",
							"16237",
							"16613",
							"295",
							"296",
							"314",
							"355",
							"10058",
							"291",
							"319",
							"322",
							"331",
							"562",
							"9913",
							"11358",
							"16271",
							"17160",
							"590",
							"10374",
							"568",
							"584",
							"600",
							"8976",
							"10018",
							"16181",
							"16413",
							"671",
							"10125",
							"17159",
							"17179",
							"631",
							"638",
							"646",
							"659",
							"665",
							"678",
							"684",
							"870",
							"882",
							"10005",
							"10030",
							"17741",
							"944",
							"16493",
							"952",
							"902",
							"920",
							"946",
							"950",
							"9218",
							"10834",
							"16495",
							"17438",
							"986",
							"987",
							"989",
							"16270",
							"805",
							"809",
							"813",
							"814",
							"837",
							"841",
							"17880",
							"834",
							"10554",
							"11855",
							"789",
							"10158",
							"798",
							"800",
							"842",
							"845",
							"853",
							"856",
							"9000",
							"11278",
							"11455",
							"11457",
							"11794",
							"16406",
							"11195",
							"16196",
							"16497",
							"769",
							"778",
							"785",
							"10794",
							"11754",
							"12138",
							"17758",
							"877",
							"861",
							"11554",
							"11616",
							"400",
							"401",
							"402",
							"10123",
							"10139",
							"10447",
							"11303",
							"444",
							"10120",
							"426",
							"9173",
							"9175",
							"10414",
							"10438",
							"12057",
							"609",
							"11174",
							"11814",
							"17658",
							"612",
							"618",
							"9994",
							"11154",
							"11916",
							"731",
							"732",
							"736",
							"16242",
							"725",
							"740",
							"741",
							"742",
							"743",
							"750",
							"437",
							"443",
							"449",
							"455",
							"459",
							"9179",
							"10119",
							"10124",
							"10446",
							"10814",
							"11301",
							"11434",
							"16753",
							"16894",
							"17118",
							"17138",
							"530",
							"538",
							"550",
							"552",
							"10955",
							"10956",
							"16533",
							"497",
							"501",
							"515",
							"460",
							"466",
							"471",
							"485",
							"488",
							"517",
							"9798",
							"12038",
							"266",
							"236",
							"248",
							"275",
							"282",
							"285",
							"10874",
							"11360",
							"12100",
							"361",
							"387",
							"11294",
							"374",
							"376",
							"379",
							"382",
							"11576",
							"145",
							"206",
							"208",
							"225",
							"9791",
							"142",
							"143",
							"164",
							"190",
							"232",
							"966",
							"11336",
							"961",
							"983",
							"10934",
							"17158"
						]
					}
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": {
						"value": "@dataset().relativeURL",
						"type": "Expression"
					}
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PROD_GIOS_to_ADLS_json_all')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "team1adfpoc3ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "all_gios.json",
						"folderPath": "raw",
						"fileSystem": "poc3"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"id": {
							"type": "integer"
						},
						"stCalcDate": {
							"type": "string"
						},
						"stIndexLevel": {
							"type": "object",
							"properties": {
								"id": {
									"type": "integer"
								},
								"indexLevelName": {
									"type": "string"
								}
							}
						},
						"stSourceDataDate": {
							"type": "string"
						},
						"so2CalcDate": {
							"type": "string"
						},
						"so2IndexLevel": {
							"type": "object",
							"properties": {
								"id": {
									"type": "integer"
								},
								"indexLevelName": {
									"type": "string"
								}
							}
						},
						"so2SourceDataDate": {
							"type": "string"
						},
						"no2CalcDate": {
							"type": "string"
						},
						"no2IndexLevel": {
							"type": "object",
							"properties": {
								"id": {
									"type": "integer"
								},
								"indexLevelName": {
									"type": "string"
								}
							}
						},
						"no2SourceDataDate": {
							"type": "string"
						},
						"pm10CalcDate": {
							"type": "string"
						},
						"pm10IndexLevel": {
							"type": "object",
							"properties": {
								"id": {
									"type": "integer"
								},
								"indexLevelName": {
									"type": "string"
								}
							}
						},
						"pm10SourceDataDate": {
							"type": "string"
						},
						"pm25CalcDate": {
							"type": "string"
						},
						"pm25IndexLevel": {
							"type": "object",
							"properties": {
								"id": {
									"type": "integer"
								},
								"indexLevelName": {
									"type": "string"
								}
							}
						},
						"pm25SourceDataDate": {
							"type": "string"
						},
						"o3CalcDate": {
							"type": "string"
						},
						"o3IndexLevel": {
							"type": "object",
							"properties": {
								"id": {
									"type": "integer"
								},
								"indexLevelName": {
									"type": "string"
								}
							}
						},
						"o3SourceDataDate": {
							"type": "string"
						},
						"stIndexStatus": {
							"type": "boolean"
						},
						"stIndexCrParam": {
							"type": "string"
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PROD_GIOS_to_ADLS_json_pollutions')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "team1adfpoc3ls",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"extention": {
						"type": "String",
						"defaultValue": ".json"
					},
					"folder": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat(item(),dataset().extention)",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@concat('raw/pollutions/',dataset().folder)",
							"type": "Expression"
						},
						"fileSystem": "poc3"
					}
				},
				"schema": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PROD_GIOS_to_ADLS_json_stations')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "team1adfpoc3ls",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"extention": {
						"type": "String",
						"defaultValue": ".json"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat(item(),dataset().extention)",
							"type": "Expression"
						},
						"folderPath": "raw/stations",
						"fileSystem": "poc3"
					}
				},
				"schema": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PROD_IMGW_hydro')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "imgw_hydro",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PROD_IMGW_synop')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "IMGW_synop",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PROD_IMGW_to_ADLS_json_hydro')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "team1adfpoc3ls",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"folder": {
						"type": "string"
					},
					"extention": {
						"type": "string",
						"defaultValue": ".json"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat(dataset().folder,dataset().extention)",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@concat('raw/hydro/',dataset().folder)",
							"type": "Expression"
						},
						"fileSystem": "poc3"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"id": {
							"type": "integer"
						},
						"stationName": {
							"type": "string"
						},
						"gegrLat": {
							"type": "string"
						},
						"gegrLon": {
							"type": "string"
						},
						"city": {
							"type": "object",
							"properties": {
								"id": {
									"type": "integer"
								},
								"name": {
									"type": "string"
								},
								"commune": {
									"type": "object",
									"properties": {
										"communeName": {
											"type": "string"
										},
										"districtName": {
											"type": "string"
										},
										"provinceName": {
											"type": "string"
										}
									}
								}
							}
						},
						"addressStreet": {
							"type": "string"
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PROD_IMGW_to_ADLS_json_synop')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "team1adfpoc3ls",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"folder": {
						"type": "string"
					},
					"extention": {
						"type": "string",
						"defaultValue": ".json"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat(dataset().folder,dataset().extention)",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@concat('raw/synop/',dataset().folder)",
							"type": "Expression"
						},
						"fileSystem": "poc3"
					}
				},
				"schema": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/imgw_cities_fix')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "team1adfpoc3ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "raw/gov",
						"fileSystem": "poc3"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Nazwa miejscowości",
						"type": "String"
					},
					{
						"name": "Rodzaj",
						"type": "String"
					},
					{
						"name": "Gmina",
						"type": "String"
					},
					{
						"name": "Powiat",
						"type": "String"
					},
					{
						"name": "Województwo",
						"type": "String"
					},
					{
						"name": "Identyfikator miejscowości z krajowego rejestru urzędowego podziału terytorialnego kraju TERYT",
						"type": "String"
					},
					{
						"name": "Dopełniacz",
						"type": "String"
					},
					{
						"name": "Przymiotnik",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/o_PROD_IMGW_cities_fix')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "IMGW_cities_fix",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/try_as_rest')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "GIOS_rest",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"relativeURL": {
						"type": "string",
						"defaultValue": [
							"114",
							"117",
							"129",
							"52",
							"109",
							"11",
							"16",
							"38",
							"70",
							"74",
							"9153",
							"11254",
							"11934",
							"12055",
							"12056",
							"17780",
							"156",
							"158",
							"16237",
							"16613",
							"295",
							"296",
							"314",
							"355",
							"10058",
							"291",
							"319",
							"322",
							"331",
							"562",
							"9913",
							"11358",
							"16271",
							"17160",
							"590",
							"10374",
							"568",
							"584",
							"600",
							"8976",
							"10018",
							"16181",
							"16413",
							"671",
							"10125",
							"17159",
							"17179",
							"631",
							"638",
							"646",
							"659",
							"665",
							"678",
							"684",
							"870",
							"882",
							"10005",
							"10030",
							"17741",
							"944",
							"16493",
							"952",
							"902",
							"920",
							"946",
							"950",
							"9218",
							"10834",
							"16495",
							"17438",
							"986",
							"987",
							"989",
							"16270",
							"805",
							"809",
							"813",
							"814",
							"837",
							"841",
							"17880",
							"834",
							"10554",
							"11855",
							"789",
							"10158",
							"798",
							"800",
							"842",
							"845",
							"853",
							"856",
							"9000",
							"11278",
							"11455",
							"11457",
							"11794",
							"16406",
							"11195",
							"16196",
							"16497",
							"769",
							"778",
							"785",
							"10794",
							"11754",
							"12138",
							"17758",
							"877",
							"861",
							"11554",
							"11616",
							"400",
							"401",
							"402",
							"10123",
							"10139",
							"10447",
							"11303",
							"444",
							"10120",
							"426",
							"9173",
							"9175",
							"10414",
							"10438",
							"12057",
							"609",
							"11174",
							"11814",
							"17658",
							"612",
							"618",
							"9994",
							"11154",
							"11916",
							"731",
							"732",
							"736",
							"16242",
							"725",
							"740",
							"741",
							"742",
							"743",
							"750",
							"437",
							"443",
							"449",
							"455",
							"459",
							"9179",
							"10119",
							"10124",
							"10446",
							"10814",
							"11301",
							"11434",
							"16753",
							"16894",
							"17118",
							"17138",
							"530",
							"538",
							"550",
							"552",
							"10955",
							"10956",
							"16533",
							"497",
							"501",
							"515",
							"460",
							"466",
							"471",
							"485",
							"488",
							"517",
							"9798",
							"12038",
							"266",
							"236",
							"248",
							"275",
							"282",
							"285",
							"10874",
							"11360",
							"12100",
							"361",
							"387",
							"11294",
							"374",
							"376",
							"379",
							"382",
							"11576",
							"145",
							"206",
							"208",
							"225",
							"9791",
							"142",
							"143",
							"164",
							"190",
							"232",
							"966",
							"11336",
							"961",
							"983",
							"10934",
							"17158"
						]
					}
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": {
						"value": "@dataset().relativeURL",
						"type": "Expression"
					}
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/try_as_rest_copy1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "GIOS_rest",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"relativeURL": {
						"type": "string",
						"defaultValue": [
							"114",
							"117",
							"129",
							"52",
							"109",
							"11",
							"16",
							"38",
							"70",
							"74",
							"9153",
							"11254",
							"11934",
							"12055",
							"12056",
							"17780",
							"156",
							"158",
							"16237",
							"16613",
							"295",
							"296",
							"314",
							"355",
							"10058",
							"291",
							"319",
							"322",
							"331",
							"562",
							"9913",
							"11358",
							"16271",
							"17160",
							"590",
							"10374",
							"568",
							"584",
							"600",
							"8976",
							"10018",
							"16181",
							"16413",
							"671",
							"10125",
							"17159",
							"17179",
							"631",
							"638",
							"646",
							"659",
							"665",
							"678",
							"684",
							"870",
							"882",
							"10005",
							"10030",
							"17741",
							"944",
							"16493",
							"952",
							"902",
							"920",
							"946",
							"950",
							"9218",
							"10834",
							"16495",
							"17438",
							"986",
							"987",
							"989",
							"16270",
							"805",
							"809",
							"813",
							"814",
							"837",
							"841",
							"17880",
							"834",
							"10554",
							"11855",
							"789",
							"10158",
							"798",
							"800",
							"842",
							"845",
							"853",
							"856",
							"9000",
							"11278",
							"11455",
							"11457",
							"11794",
							"16406",
							"11195",
							"16196",
							"16497",
							"769",
							"778",
							"785",
							"10794",
							"11754",
							"12138",
							"17758",
							"877",
							"861",
							"11554",
							"11616",
							"400",
							"401",
							"402",
							"10123",
							"10139",
							"10447",
							"11303",
							"444",
							"10120",
							"426",
							"9173",
							"9175",
							"10414",
							"10438",
							"12057",
							"609",
							"11174",
							"11814",
							"17658",
							"612",
							"618",
							"9994",
							"11154",
							"11916",
							"731",
							"732",
							"736",
							"16242",
							"725",
							"740",
							"741",
							"742",
							"743",
							"750",
							"437",
							"443",
							"449",
							"455",
							"459",
							"9179",
							"10119",
							"10124",
							"10446",
							"10814",
							"11301",
							"11434",
							"16753",
							"16894",
							"17118",
							"17138",
							"530",
							"538",
							"550",
							"552",
							"10955",
							"10956",
							"16533",
							"497",
							"501",
							"515",
							"460",
							"466",
							"471",
							"485",
							"488",
							"517",
							"9798",
							"12038",
							"266",
							"236",
							"248",
							"275",
							"282",
							"285",
							"10874",
							"11360",
							"12100",
							"361",
							"387",
							"11294",
							"374",
							"376",
							"379",
							"382",
							"11576",
							"145",
							"206",
							"208",
							"225",
							"9791",
							"142",
							"143",
							"164",
							"190",
							"232",
							"966",
							"11336",
							"961",
							"983",
							"10934",
							"17158"
						]
					}
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/default/team3_managed_priv_endp_v2')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks/managedPrivateEndpoints",
			"apiVersion": "2018-06-01",
			"properties": {
				"privateLinkResourceId": "[parameters('team3_managed_priv_endp_v2_properties_privateLinkResourceId')]",
				"groupId": "[parameters('team3_managed_priv_endp_v2_properties_groupId')]"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PROD_get_GIOS_all')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "get_gios_all",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "PROD_GIOS_all",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "PROD_GIOS_to_ADLS_json_all",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2024-03-04T10:49:30Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/PROD_GIOS_all')]",
				"[concat(variables('factoryId'), '/datasets/PROD_GIOS_to_ADLS_json_all')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PROD_get_GIOS_pollution')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GIOS_pollution_loop",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@variables('__var_ids_list')",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "station_id1",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "__var_id",
										"value": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								},
								{
									"name": "get_gios_copy1",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "station_id1",
											"dependencyConditions": [
												"Completed"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "RestSource",
											"httpRequestTimeout": "00:01:40",
											"requestInterval": "00.00:00:00.010",
											"requestMethod": "GET",
											"paginationRules": {
												"supportRFC5988": "true"
											}
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "PROD_GIOS_polutions",
											"type": "DatasetReference",
											"parameters": {
												"relativeURL": "@item()"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "PROD_GIOS_to_ADLS_json_pollutions",
											"type": "DatasetReference",
											"parameters": {
												"extention": ".json",
												"folder": "@formatDateTime(utcnow(), 'yyyy-MM-dd')"
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"relativeURL": {
						"type": "array",
						"defaultValue": [
							"114",
							"117",
							"129",
							"52",
							"109",
							"11",
							"16",
							"38",
							"70",
							"74",
							"9153",
							"11254",
							"11934",
							"12055",
							"12056",
							"17780",
							"156",
							"158",
							"16237",
							"16613",
							"295",
							"296",
							"314",
							"355",
							"10058",
							"291",
							"319",
							"322",
							"331",
							"562",
							"9913",
							"11358",
							"16271",
							"17160",
							"590",
							"10374",
							"568",
							"584",
							"600",
							"8976",
							"10018",
							"16181",
							"16413",
							"671",
							"10125",
							"17159",
							"17179",
							"631",
							"638",
							"646",
							"659",
							"665",
							"678",
							"684",
							"870",
							"882",
							"10005",
							"10030",
							"17741",
							"944",
							"16493",
							"952",
							"902",
							"920",
							"946",
							"950",
							"9218",
							"10834",
							"16495",
							"17438",
							"986",
							"987",
							"989",
							"16270",
							"805",
							"809",
							"813",
							"814",
							"837",
							"841",
							"17880",
							"834",
							"10554",
							"11855",
							"789",
							"10158",
							"798",
							"800",
							"842",
							"845",
							"853",
							"856",
							"9000",
							"11278",
							"11455",
							"11457",
							"11794",
							"16406",
							"11195",
							"16196",
							"16497",
							"769",
							"778",
							"785",
							"10794",
							"11754",
							"12138",
							"17758",
							"877",
							"861",
							"11554",
							"11616",
							"400",
							"401",
							"402",
							"10123",
							"10139",
							"10447",
							"11303",
							"444",
							"10120",
							"426",
							"9173",
							"9175",
							"10414",
							"10438",
							"12057",
							"609",
							"11174",
							"11814",
							"17658",
							"612",
							"618",
							"9994",
							"11154",
							"11916",
							"731",
							"732",
							"736",
							"16242",
							"725",
							"740",
							"741",
							"742",
							"743",
							"750",
							"437",
							"443",
							"449",
							"455",
							"459",
							"9179",
							"10119",
							"10124",
							"10446",
							"10814",
							"11301",
							"11434",
							"16753",
							"16894",
							"17118",
							"17138",
							"530",
							"538",
							"550",
							"552",
							"10955",
							"10956",
							"16533",
							"497",
							"501",
							"515",
							"460",
							"466",
							"471",
							"485",
							"488",
							"517",
							"9798",
							"12038",
							"266",
							"236",
							"248",
							"275",
							"282",
							"285",
							"10874",
							"11360",
							"12100",
							"361",
							"387",
							"11294",
							"374",
							"376",
							"379",
							"382",
							"11576",
							"145",
							"206",
							"208",
							"225",
							"9791",
							"142",
							"143",
							"164",
							"190",
							"232",
							"966",
							"11336",
							"961",
							"983",
							"10934",
							"17158"
						]
					}
				},
				"variables": {
					"__var_ids_list": {
						"type": "Array",
						"defaultValue": [
							"114",
							"117",
							"129",
							"52",
							"109",
							"11",
							"16",
							"38",
							"70",
							"74",
							"9153",
							"11254",
							"11934",
							"12055",
							"12056",
							"17780",
							"156",
							"158",
							"16237",
							"16613",
							"295",
							"296",
							"314",
							"355",
							"10058",
							"291",
							"319",
							"322",
							"331",
							"562",
							"9913",
							"11358",
							"16271",
							"17160",
							"590",
							"10374",
							"568",
							"584",
							"600",
							"8976",
							"10018",
							"16181",
							"16413",
							"671",
							"10125",
							"17159",
							"17179",
							"631",
							"638",
							"646",
							"659",
							"665",
							"678",
							"684",
							"870",
							"882",
							"10005",
							"10030",
							"17741",
							"944",
							"16493",
							"952",
							"902",
							"920",
							"946",
							"950",
							"9218",
							"10834",
							"16495",
							"17438",
							"986",
							"987",
							"989",
							"16270",
							"805",
							"809",
							"813",
							"814",
							"837",
							"841",
							"17880",
							"834",
							"10554",
							"11855",
							"789",
							"10158",
							"798",
							"800",
							"842",
							"845",
							"853",
							"856",
							"9000",
							"11278",
							"11455",
							"11457",
							"11794",
							"16406",
							"11195",
							"16196",
							"16497",
							"769",
							"778",
							"785",
							"10794",
							"11754",
							"12138",
							"17758",
							"877",
							"861",
							"11554",
							"11616",
							"400",
							"401",
							"402",
							"10123",
							"10139",
							"10447",
							"11303",
							"444",
							"10120",
							"426",
							"9173",
							"9175",
							"10414",
							"10438",
							"12057",
							"609",
							"11174",
							"11814",
							"17658",
							"612",
							"618",
							"9994",
							"11154",
							"11916",
							"731",
							"732",
							"736",
							"16242",
							"725",
							"740",
							"741",
							"742",
							"743",
							"750",
							"437",
							"443",
							"449",
							"455",
							"459",
							"9179",
							"10119",
							"10124",
							"10446",
							"10814",
							"11301",
							"11434",
							"16753",
							"16894",
							"17118",
							"17138",
							"530",
							"538",
							"550",
							"552",
							"10955",
							"10956",
							"16533",
							"497",
							"501",
							"515",
							"460",
							"466",
							"471",
							"485",
							"488",
							"517",
							"9798",
							"12038",
							"266",
							"236",
							"248",
							"275",
							"282",
							"285",
							"10874",
							"11360",
							"12100",
							"361",
							"387",
							"11294",
							"374",
							"376",
							"379",
							"382",
							"11576",
							"145",
							"206",
							"208",
							"225",
							"9791",
							"142",
							"143",
							"164",
							"190",
							"232",
							"966",
							"11336",
							"961",
							"983",
							"10934",
							"17158"
						]
					},
					"__var_id": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2024-03-04T11:43:23Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/PROD_GIOS_polutions')]",
				"[concat(variables('factoryId'), '/datasets/PROD_GIOS_to_ADLS_json_pollutions')]"
			]
		}
	]
}